@{
    ViewBag.Title = "Home Page";
}

<div class=" row">
    <div class="col-md-12" style="background-image: url('/Content/Images/Starwars.jpg'); height: 500px; background-position: left; ">

        <div class="row">
            <div class="col-md-12">
                <h2>Welcome to my new <b>Demo application</b></h2>
                <p>
                    This Application is created by using ASP.NEt MVC 5 and EF 6
                </p>                
            </div>

        </div>
    </div>
</div>



